.btn-venta {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-venta:hover {
  background-color: #218838;
}

#productos {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

#search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.producto-panel {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.producto-panel img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 8px;
}

.producto-panel h3 {
  margin: 0;
  flex-grow: 1;
}

.producto-panel p {
  transform: translateX(-20px);
  text-align: left;
}

 .u-section-1 {
  background-image: url("images/pexels-photo-4246118.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 488px;
  height: auto;
  margin: 332px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 217px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 260px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  width: 510px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
  width: 510px;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 37px auto 0 0;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 259px;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 64px 0 auto;
}

.u-section-2 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 503px 0 auto;
}

.u-section-2 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 298px 43px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-2 {
    margin-left: 59px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 303px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 83px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 867px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 201px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 201px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px 0 20px;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin: -26px 381px 0 369px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: -115px 0 0 750px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -122px auto 0 28px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    width: 310px;
    margin-left: 269px;
    margin-right: 281px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 550px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 174px;
    margin-right: 186px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 99px;
    margin-right: 111px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 10px;
  }
}